{% extends 'DesiredShoppingBundle::layout.html.twig' %}
{% block content -%}
    <div class="col-sm-8">
        <h1>Product list</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Categoryid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for productEntity in productEntities %}
                    <tr>
                        <td><a href="{{ path('product_show', { 'id': productEntity.id }) }}">{{ productEntity.id }}</a></td>
                        <td>{{ productEntity.name }}</td>
                        <td><img src="{{ asset('images/products/') }}{{ productEntity.imageName }} " alt="{{ productEntity.name }}" width="80" height="80" /></td>
                        <td>{{ productEntity.description }}</td>
                        <td>{{ productEntity.price }}</td>
                        <td>{{ productEntity.categoryId }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('product_show', { 'id': productEntity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('product_edit', { 'id': productEntity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>
           
        </ul>
    </div> 
{% endblock %}

