{% extends 'DesiredShoppingBundle::layout.html.twig' %}
{% block content -%}
    <div class="col-sm-8">

    <h1>Category creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
</ul>
    </div>
{% endblock %}
