{% extends 'DesiredShoppingBundle::layout.html.twig' %}
{% block content -%}
    <div class="col-sm-8">
        <h1>Category</h1>

        <h3>Products</h3>
        {% for product in entity.products %}
            <li>{{ product.name }}</li>
            {% endfor %}


        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('category') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('category_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
