{% extends 'DesiredShoppingBundle::layout.html.twig' %}

{% block content -%}
    <div class="col-sm-8">
        <h1>Sale list</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Userid</th>
                    <th>Datecreated</th>
                    <th>Actions</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('sale_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.user.username }}</td>
                        <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('sale_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('sale_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            {% for product in entity.products %}
                            <td>{{ product.name }}</td>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

      
    </div>
{% endblock %}
