{% extends 'DesiredShoppingBundle::layout.html.twig' %}
{% block content -%}
    <div class="col-sm-8">
        <h1>Sale</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Userid</th>
                    <td>{{ entity.user.username }}</td>
                </tr>
                <tr>
                    <th>Datecreated</th>
                    <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                </tr>

                <tr>
                    <th>Products</th>
                        {% for product in entity.products %}
                        <td>{{ product.name }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('sale') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('sale_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
