{% extends 'DesiredShoppingBundle::layout.html.twig' %}

{% block content -%}
    <div class="col-sm-8">
        <h1>Product list</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Categoryid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td><img src="{{ asset('images/products/') }}{{ entity.imageName }} " alt="{{ entity.name }}" width="80" height="80" /></td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.price }}</td>
                        <td>{{ entity.categoryId }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('product_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('product_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('product_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div> 
{% endblock %}
