{% extends '::base.html.twig' %}

{% block body -%}

    {% include('DesiredShoppingBundle::header.html.twig') %}

{% block content %}{% endblock %}

{% include('DesiredShoppingBundle::sidebar.html.twig') %}

{% include('DesiredShoppingBundle::footer.html.twig') %}

{% endblock %}

{% block stylesheets %}
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://designmodo.github.io/Flat-UI/dist/js/flat-ui.min.js"></script>
{% endblock %}

