<div class="col-sm-4">
    <h3>Categories</h3>
    <ul class="list-group">
        {% for categoryEntity in categoryEntities %}
            <li class="list-group-item">
                <a href="{{ path('category_show', { 'id': categoryEntity.id }) }}">{{ categoryEntity.name }}</a>   {% if is_granted('ROLE_ADMIN') %} [<a href="{{ path('category_edit', { 'id': categoryEntity.id }) }}">edit</a>]{% endif %}            
            </li>         
        {% endfor %}
    </ul>
    {% if app.user %}
        <h3>Panel</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('sale_new') }}">Create new order</a>
            </li>  
            {% if is_granted('ROLE_ADMIN') %} 
                <li class="list-group-item">
                    <a href="{{ path('sale') }}">list sales orders</a>
                </li>
            {% endif %}
            <li class="list-group-item">
                <a href="{{ path('category') }}">list categories</a>
            </li>   
            <li class="list-group-item">
                <a href="{{ path('product') }}">list products</a>
            </li>
        </ul>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %} 
        <h3>Admin Panel</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('product_new') }}">Create product</a>
            </li>  
            <li class="list-group-item">
                <a href="{{ path('category_new') }}">Create category</a>
            </li>
             
        </ul>
    {% endif %}
    <h3>
        {% if not app.user %}
            <a class="btn btn-primary btn-lg" href="{{ path('site_login') }}">Login</a>
        {% endif %}
    </h3>
</div>  





